* {
    box-sizing: border-box;
    position: relative;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightblue;
    overflow-x: hidden;
    width: 100%;
}

h1 {
    color: navy;
    margin-left: 20px;
    text-align: center;
}

#mesa, #otro, #yo_container {
    display: flex;
    width: 100%;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

#mesa {
    flex-direction: row;
    justify-content: space-evenly;
}

#mazo, #pozo {
    display: flex;
    flex-direction: row;
}

.carta, .dorso {
    margin: 0;
}

.carta, .dorso {/*
    width: 100px;
    height: 140px;*/
    border-radius: 6px;
}

.carta {
    width: 100%;
    height: 100%;
}

.dorso {
    /* background-color: gray;
    transform: rotate(5deg); */
    background-image: url("../data/back_tile.png");
    background-repeat: repeat;
    clear: both;
    display: block;
    border: solid 1px rgba(231, 231, 231, 0.884);
}

#otro .dorso {
    margin: 4px;
}

.dimagen {
    width: 100%;
    height: 100%;
}

.simbolo {
    height: 0px;
}

#yo {
    width: 100%;
    height: 300px;
    overflow-x: auto;
    overflow-y: visible;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carta-container {
    box-sizing: border-box;
    width: 100px;
    height: 140px;
    /* margin-left: 20px; */
}

.mazo-container {
    width: 70px !important;
    height: 98px !important;
}

#pozo .carta-offset {
    width: 1px;
    height: 100px;
}

#mazo .carta-offset {
    width: 4px;
    height: 100px;
}

#yo .carta-offset {
    min-width: 40px;
    max-width: 110px;
    height: 30px;
}